rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isStaff() {
      return signedIn()
        && request.auth.token.roles != null
        && (
          request.auth.token.roles.hasAny(['ROLE_ADMIN', 'ROLE_STAFF'])
        );
    }

    function isOrderOwner() {
      return signedIn()
        && request.auth.token.campanaUserId != null
        && resource.data.userId == request.auth.token.campanaUserId;
    }

    function isOrderOwnerWrite() {
      return signedIn()
        && request.auth.token.campanaUserId != null
        && request.resource.data.userId == request.auth.token.campanaUserId;
    }

    match /orders/{orderId} {
      allow read: if isStaff() || isOrderOwner();

      allow create, update: if isOrderOwnerWrite()
        && request.resource.data.id == int(orderId);

      allow delete: if false;
    }
  }
}
