{% extends 'client/base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
    <section class="card">
        <h1>{{ name }}</h1>
        <p>
            This is a placeholder page for the {{ name|lower }} service.
            Use this space to describe your process, deliverables, pricing approach,
            and any examples or portfolio links you want to feature.
        </p>
    </section>
{% endblock %}

